@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply px-8 py-3 bg-brandPrimary flex justify-center items-center font-bold text-white text-[14px] rounded-full hover:bg-[#7d49ee] transition-all duration-200;
}

.btn-primary-sm {
  @apply px-5 py-2 bg-brandPrimary flex justify-center items-center font-bold text-white text-xs rounded-full hover:bg-[#7d49ee] transition-all duration-200;
}

.btn-sm {
  @apply px-5 py-2 bg-[#9867FF1A] flex justify-center items-center font-bold text-brandPrimary hover:text-white text-xs rounded-full hover:bg-[#7d49ee] transition-all duration-200;
}

.btn-service {
  @apply text-brandPrimary  flex items-center gap-1 mt-2 border-b border-brandPrimary pb-1;
}
body {
  max-width: 2400px;
  margin: auto;
}

p {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.active-links li a:active {
  color: #9867ff;
}
